<!DOCTYPE html>
<html>
  <head>
        <title>Food Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body >
    <div class="w3-container w3-padding-64" id="contact">
        <div class="row justify-content-center w3-padding-64">
                <div class="col-md-4 col-md-offset-6">
                    <div  class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
                    <h1>New food</h1>
                    <div class ="service new">
                      <%= render "form", food: @food %>

                      <button type="submit" class="w3-button  w3-right w3-theme">
                        <%= link_to "Back to foods", foods_path %>
                      </button>
                    </div>
                            </div>  
                </div>
            </div>
        </div>
    </body>
</html>