
  
        <div class="row justify-content-center w3-padding-64">
            <div class="col-md-4 col-md-offset-6">
                <div class="card-shadow">
                  <div class="card-body">
                      <%= render @food %>
                  </div>
                </div>
                  <div >
                    <%= link_to "Edit this food", edit_food_path(@food) %> |
                    <%= link_to "Back to foods", foods_path %>

                    <%= button_to "Destroy this food", @food, method: :delete %>
                </div>         
            </div>
        </div>
   