
<div class="w3-container w3-padding-64  " id="shop">
            
             <div class="row col">
             
                <% @foods.each do |food| %>
                    <div class="card w-25">
                    <div class="card-body  text-dark ">
                     <%= render food %>
                    </div>
                    
                    </div>
                <%end %>
            </div>
    <%= link_to "back", customer_index_path, class: "m-4 text-white text-decoration-none btn btn-secondary" %>
            
        </div>